/Config/DefaultEditor.ini
/Config/DefaultEditorPerProjectUserSettings.ini
/Config/DefaultEngine.ini
/Config/DefaultGame.ini
/Config/DefaultInput.ini

.idea/
Binaries/
Content/
Intermediate/
*.user
Saved/
